body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: white;
  display: flex; /* itens lado a lado dentro do nav*/
  align-items: center;
  justify-content: space-between;  /*empurra o primeiro item pra esquerda e o último pra direita, com espaço entre eles */
  padding: 10px 40px;
  border-bottom: 1px solid #eee; /*linha fina separando o nav do resto da pag */
}

.logo img {
  height: 50px;
}

.menu {
  display: flex; 
  gap: 24px; /* espaço entre os itens */
  list-style: none; /* remove as bolinhas dos itens */
  flex-wrap: wrap;
  margin-top: 10px;
}

.menu a {
  text-decoration: none; /* remove o traço de baixo dos links */
  color : #333;
  font-size: 14px;
}

.menu a:hover {
  color: rgb(30,129,190);
}

.hero {
  height: 500px; 
  background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
  url('images/equipe.jpeg');
  background-size: cover; /* imagem cobre todo o espaço */
  background-position: center;
  display: flex;
  flex-direction: column; /*texto, titulo e botao um embaixo do outro */
  justify-content: center;
  padding: 0 60px;
}

.hero h1 {
  color:white;
  font-size: 28px;
  max-width: 600px; /* impede que o titulo estique em telas largas */
  margin-bottom: 16px;
}

.hero p {
  color: #eee;
  font-size: 16px;
  max-width: 500px;
  margin-bottom: 20px;
}

.hero .cta-btn {
  display: inline-block; /* permite dar padding num link sem ele quebrar linha */
  background-color: rgb(30,120,190);
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  width: fit-content; /*botao fica do tamanho do texto, não da linha toda */
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* empurra o conteudo pra baixo */
  padding: 24px;
  color: white;
  background-color: #666;
  background-size: cover;
  background-position: center;
}

.card h3{
  font-size: 18px;
  color: #eee;
}

.card p {
  font-size: 13px;
  color: #eee;
}

@media (max-width: 768px) {

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero h1 {
    font-size: 28px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    height: auto;
    padding: 20px;
  }

}