* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/**header começo /**/

.nav {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 24px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.nav-list a:hover {
  color: rgb(110, 5, 207);
}
/**header-fim*/

.projects {
  width: 100%;
  align-items: center;
  padding: 80px;
}

.projects h1 {
  color: black;
  font-size: 40px;
  margin-left: 60px;
  margin-bottom: 15px;
  text-align: center;
}

.project-list {
  width: 100%;
  margin-left: 25px;
  display: flex;
  justify-content: center;
}

.text {
  background-color: rgba(40, 39, 39, 0.663);
  width: 100%;
  align-items: center;
  padding: 80px;
}

.text p {
  color: rgb(255, 250, 250);
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: center;
}
/**fim da primeira pagina*/

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.post {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.post h2 {
  margin: 10px 0;
  color: #333;
}

.post p {
  font-size: 14px;
  color: #555;
}
